name: Release workflow

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Ensure tag is on main
        run: |
          git fetch origin main
          git merge-base --is-ancestor HEAD origin/main \
            || (echo "Tag is not on main" && exit 1)

      - name: Extract version
        run: echo "APP_VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            "APP_VERSION=${APP_VERSION}"
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/shots-poker:${{ env.APP_VERSION }}
